<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="/home/pi/lighting/myapp/css/style.css" type="text/css">

</head>
<body>
<p>{{r}}</p>

<!--
the csrf_token protects against cross site request forgeries
type subit is used to submit a form to the server
-->
<div class="jumbotron text-center">

<h1>SMARTCoffee Kiosk</h1>
<br> 
<h2> Please Select your Preference</h2>

</div>
<div class="text-center">

<form action="" method="post">{% csrf_token %} 
<h3>Do You Want the Usual? </h3>
<input type="submit" name="yes" value="Yes" />
<input type="submit" name="no" value="No" />
</form>

<br>


<div class="btn btn-primary" data-toggle="collapse" href="#collapse" aria-expanded="false" aria-controls="collapseExample" >

  <a >
    Change Coffee Preference
  </a>
</div>
</div> 

<div class="text-center container" id="collapse">
<br>
	
		
<h3>Mode</h3>
<form action="" method="post">{% csrf_token %}
<input type="submit" class= "btn btn-primary" name="auto" value="auto" />
<input type="submit" class= "btn btn-success" name="manual" value="manual" />
</form>

<br>


<form action="" method="post">{% csrf_token %} 
<h3>State</h3>
<input type="submit" name="on" value="on" />
<input type="submit" name="off" value="off" />
<input type="submit" name="yes" value="yes" />
</form>

<br>


<form action="" method="post">{% csrf_token %} 
<h3>Submit Coffee Order? </h3>
<input type="submit" name="yes" value="Yes" />
</form>


</div>


</div>

<!--
put these at the end of the html to increase responsivness
-->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
<script type="text/javascript" src="/home/pi/lighting/myapp/templates/js/style.js" defer> </script>
</body>
</html>
